@import "tailwindcss";

@theme {
  --font-sans: InterVariable, sans-serif;
  --color-primary: #F59E0B;  /* Vibrant orange */
  --color-primary-foreground: #FFFBEB;  /* Light cream for text on orange */
  --color-secondary: #2563EB;  /* Rich blue */
  --color-secondary-foreground: #EFF6FF;  /* Light blue for text on secondary */
  --color-destructive: #DC2626;  /* Strong red */
  --color-destructive-foreground: #FEE2E2;  /* Light red for text */
  --color-accent: #91ecce;  /* Emerald green */
  --color-accent-foreground: #ECFDF5;  /* Light green for text */
  --color-background: #FFFFFF;  /* Pure white */
  --color-foreground: #1F2937;  /* Dark gray for text */
  --color-border: #E5E7EB;  /* Light gray border */

  /* Neumorphism Shadows */
  --shadow-light: rgba(255, 255, 255, 0.1);
  --shadow-dark: rgba(0, 0, 0, 0.1);
}

.dark {
  --font-sans: InterVariable, sans-serif;
  --color-primary: #F59E0B;  /* Brighter orange for dark mode */
  --color-primary-foreground: #1E1B18;  /* Dark background for orange text */
  --color-secondary: #3B82F6;  /* Brighter blue for dark mode */
  --color-secondary-foreground: #EFF6FF;  /* Light blue for text */
  --color-destructive: #EF4444;  /* Brighter red for dark mode */
  --color-destructive-foreground: #1E1B18;  /* Dark for text on red */
  --color-accent: #35f1b2;  /* Same green as light mode */
  --color-accent-foreground: #1E1B18;  /* Dark for text on green */
  --color-background: #0F172A;  /* Deep navy blue */
  --color-foreground: #E2E8F0;  /* Light gray for text */
  --color-border: #334155;  /* Darker gray border */

  /* Neumorphism Shadows */
  --shadow-light: rgba(255, 255, 255, 0.123);
  --shadow-dark: rgb(0, 0, 0,0.6);
}

.shadow-neumorphic {
  box-shadow: 5px 5px 10px var(--shadow-dark), -5px -5px 10px var(--shadow-light);
  transition: all 0.2s ease-in-out;
}


.neumorphic {
  background-color: var(--color-background);
  box-shadow: 8px 8px 16px var(--shadow-dark), -8px -8px 16px var(--shadow-light);
  transition: all 0.2s ease-in-out;
}

.neumorphic-inset {
  background-color: var(--color-background);
  box-shadow: inset 8px 8px 16px var(--shadow-dark), inset -8px -8px 16px var(--shadow-light);
  transition: all 0.2s ease-in-out;
}


